@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<div class="mx-auto text-left">
    <br />
    <h1 class="display-5 fw-bold h1 text-left">Sobre nosotros</h1>
    <br />
    <p class="lead mb-4 p">
        Somos el Equipo N2 en el ramo de Integración de plataformas en el Instituto Profesional DuocUC.
        Nos encargamos de implementar una solución para el caso Semestral llamado MusicPro, Una tienda musical
        con variedad de productos musicales tales como repuestos, guitarras, bajos entre otros.
    </p>
    <br />
    <h1 class="display-5 fw-bold h1 text-left">Integrantes</h1>
    <br />
    <p class="lead mb-4 p">
        Los Integrantes que son parte de este proyecto y llevan a cabo su
        desarrollo e implementación son: Diego Muñoz, Alfredo Fuentes y Marco Maulen.
    </p>
    <br/>
    <a class="d-flex mb-2 mb-md-0 text-dark text-decoration-none"><img src="~/Content/images/logoduoc.png" alt="LOGO DUOCUC" width="400px"/></a>
</div>
