@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<head>
    <link href="~/Content/maps.css" rel="stylesheet" />

</head>
<body>
    <h1 class="display-5 fw-bold h1 text-center">Contactanos</h1>

    <br />

    <div class="mx-auto text-center">
        <address class="lead mb-4 p">
            Serrano 1105<br />
            Melipilla, Región Metropolitana<br />
            <abbr>Telefono:</abbr>
            +569 3745 2365
        </address>

        <address class="lead mb-4 p">
            <strong>Soporte:</strong><a href="mailto:Support@example.com">Soporte@musicpro.cl</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@musicpro.cl</a>
        </address>
    </div>
    
    <h1 class="display-5 fw-bold h1 text-center">No sabes como llegar?</h1>
    <div id="map"></div>
    <script src="~/Scripts/maps.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>
</body>


