@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}


<body>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item-active">
                <img src="~/Content/images/slide1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Content/images/slide2.jpg" class="d-block w-100" alt="....">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        <hr />
    </div>
    <br />
    <h1 class="display-5 fw-bold h1 text-center">Sobre Musicpro</h1>
    <br />
    <p class="lead mb-4 p">
        En MUSICPRO estamos comprometidos con la pasión por la música, por
        eso ofrecemos una amplia variedad de productos de alta calidad para
        músicos de todos los niveles y géneros musicales. Ya seas un
        principiante o un profesional, tenemos todo lo que necesitas para
        llevar tu música al siguiente nivel. Ofrecemos una amplia selección
        de instrumentos musicales, desde guitarras eléctricas y acústicas,
        teclados y pianos, hasta baterías, bajos y más. Además, contamos con
        una gran variedad de accesorios, desde cuerdas, baquetas,
        afinadores, hasta cables, adaptadores, estuches entre otros.
    </p>
</body>
