
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using waMusicPro.Models
<h1>Bienvenido @(((UserModel)Session["Usuario"]).User) al control de productos/usuarios.</h1>

